* {
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Roboto', sans-serif;
    background-color: #aeaff3;
}
.contacts {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.container {
    width: 412px;
    background-color: #fcfcfc;
    border: 4px solid #aeaff3;
    border-radius: 8px;
    box-shadow: 10px 10px 47px 2px #5c5c5c;
}
.container h1 {
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    padding: 15px;
    text-transform: uppercase;
    background-color: #aeaff3;
    color: #fcfcfc;
}
input {
    font-size: 16px;
    padding: 5px;
    margin: 5px 0;
    width: 400px;
    outline: none;
    text-align: center;
    border: 1px solid #aeaff3;
    color: #64658b;
}
.container input::placeholder {
    color: #8688f5d0;
}
.list li {
    font-size: 18px;
    margin-left: 20px;
    list-style: none;
    color: #64658b;
    width: 370px;
    padding-bottom: 5px;
    margin-bottom: 10px;
    border-bottom: 1px solid #64658b;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.fa-pencil {
    font-size: 20px;
}
.fa-trash-o {
    font-size: 20px;
    padding-left: 5px;
}
.fa-trash-o:hover,
.fa-pencil:hover {
    transition: color 0.2s linear;
    color: #64658b;
}
.button {
    display: flex;
    justify-content: center;
    align-items: center;
}
.add,
.reset {
    border: none;
    outline: none;
    font-size: 14px;
    padding: 10px;
    text-transform: uppercase;
    background-color: #aeaff3;
    color: #fcfcfc;
    border-radius: 8px;
    margin: 15px;
}
.add:hover,
.reset:hover {
    transition: all 0.7s ease;
    background-color: #aeaff3;
    color: #fcfcfc;
}